{% extends "base.html" %}
{% load static %}

{% block title %} Кинотеатр | контакты {% endblock %}
{% block template %}	<link rel="stylesheet" href="{% static 'contact.css' %}"> {% endblock %}
{% block content %}

	<div class="body">
		<p class="body_p">
		</p>

		<h4>
		Контакты
		</h4>
		<p class="p_price">
			Кинотеатр находится по адресу: Запорожье, ул. Мира 84
            <br>
			Контактные телефоны:
            <br>
            (061) 701-73-89 - бронирование, администрация
            <br>
            (061) 220-95-00 - автоответчик
            <br>
			Электронный адрес администрации кинотеатра: first@gmail.com
            <br>
			По вопросам размещения рекламы на сайте:
            <br>
            (063) 699-06-66
            <br>
			second@gmail.com
            <br>
		<h4>
			Карта проезда
		</h4>
		<div class="map">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2187.4539011606917!2d35.12279697624578!3d47.84810367017965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x0716af058ffb816b!2z0JfQsNC_0L7RgNC-0LbRgdC60LjQuSDRjdC70LXQutGC0YDQvtGC0LXRhdC90LjRh9C10YHQutC40Lkg0LrQvtC70LvQtdC00LY!5e0!3m2!1sru!2sua!4v1454960137936" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>

{% endblock %}