{% extends "base.html" %}
{% load static %}
{% load l10n %}
{% block title %} Кинотеатр | афиша {% endblock %}
{% block template %}	<link rel="stylesheet" href="{% static 'css/main.css' %}"> {% endblock %}
{% block content %}
	<div class="body">
		<p class="body_p">
		Ищите фильмы по дням недели:
		</p>
		<div class="buttons">
            {% if weekday == 1 %}
			    <button class="button_active"><a href="/{{ Pon }}/" class="sp3_a">Понедельник ({{ Понедельник }})</a></button>
                <button class="button2"><a href="/{{ Vt }}/" class="sp3_a">Вторник ({{ Вторник }})</a></button>
                <button class="button2"><a href="/{{ Sr }}/" class="sp3_a">Среда ({{ Среда }})</a></button>
                <button class="button2"><a href="/{{ Cht }}/" class="sp3_a">Четверг ({{ Четверг }})</a></button>
                <button class="button2"><a href="/{{ Pyat }}/" class="sp3_a">Пятница ({{ Пятница }})</a></button>
                <button class="button2"><a href="/{{ Sub }}/" class="sp3_a">Суббота ({{ Суббота }})</a></button>
                <button class="button2"><a href="/{{ Voskr }}/" class="sp3_a">Воскресенье ({{ Воскресенье }})</a></button>
            {% elif weekday == 2 %}
                <button class="button2"><a href="/{{ Pon }}/" class="sp3_a">Понедельник ({{ Понедельник }})</a></button>
                <button class="button_active"><a href="/{{ Vt }}/" class="sp3_a">Вторник ({{ Вторник }})</a></button>
                <button class="button2"><a href="/{{ Sr }}/" class="sp3_a">Среда ({{ Среда }})</a></button>
                <button class="button2"><a href="/{{ Cht }}/" class="sp3_a">Четверг ({{ Четверг }})</a></button>
                <button class="button2"><a href="/{{ Pyat }}/" class="sp3_a">Пятница ({{ Пятница }})</a></button>
                <button class="button2"><a href="/{{ Sub }}/" class="sp3_a">Суббота ({{ Суббота }})</a></button>
                <button class="button2"><a href="/{{ Voskr }}/" class="sp3_a">Воскресенье ({{ Воскресенье }})</a></button>
            {% elif weekday == 3 %}
                <button class="button2"><a href="/{{ Pon }}/" class="sp3_a">Понедельник ({{ Понедельник }})</a></button>
                <button class="button2"><a href="/{{ Vt }}/" class="sp3_a">Вторник ({{ Вторник }})</a></button>
                <button class="button_active"><a href="/{{ Sr }}/" class="sp3_a">Среда ({{ Среда }})</a></button>
                <button class="button2"><a href="/{{ Cht }}/" class="sp3_a">Четверг ({{ Четверг }})</a></button>
                <button class="button2"><a href="/{{ Pyat }}/" class="sp3_a">Пятница ({{ Пятница }})</a></button>
                <button class="button2"><a href="/{{ Sub }}/" class="sp3_a">Суббота ({{ Суббота }})</a></button>
                <button class="button2"><a href="/{{ Voskr }}/" class="sp3_a">Воскресенье ({{ Воскресенье }})</a></button>
            {% elif weekday == 4 %}
                <button class="button2"><a href="/{{ Pon }}/" class="sp3_a">Понедельник ({{ Понедельник }})</a></button>
                <button class="button2"><a href="/{{ Vt }}/" class="sp3_a">Вторник ({{ Вторник }})</a></button>
                <button class="button2"><a href="/{{ Sr }}/" class="sp3_a">Среда ({{ Среда }})</a></button>
                <button class="button_active"><a href="/{{ Cht }}/" class="sp3_a">Четверг ({{ Четверг }})</a></button>
                <button class="button2"><a href="/{{ Pyat }}/" class="sp3_a">Пятница ({{ Пятница }})</a></button>
                <button class="button2"><a href="/{{ Sub }}/" class="sp3_a">Суббота ({{ Суббота }})</a></button>
                <button class="button2"><a href="/{{ Voskr }}/" class="sp3_a">Воскресенье ({{ Воскресенье }})</a></button>
            {% elif weekday == 5 %}
                <button class="button2"><a href="/{{ Pon }}/" class="sp3_a">Понедельник ({{ Понедельник }})</a></button>
                <button class="button2"><a href="/{{ Vt }}/" class="sp3_a">Вторник ({{ Вторник }})</a></button>
                <button class="button2"><a href="/{{ Sr }}/" class="sp3_a">Среда ({{ Среда }})</a></button>
                <button class="button2"><a href="/{{ Cht }}/" class="sp3_a">Четверг ({{ Четверг }})</a></button>
                <button class="button_active"><a href="/{{ Pyat }}/" class="sp3_a">Пятница ({{ Пятница }})</a></button>
                <button class="button2"><a href="/{{ Sub }}/" class="sp3_a">Суббота ({{ Суббота }})</a></button>
                <button class="button2"><a href="/{{ Voskr }}/" class="sp3_a">Воскресенье ({{ Воскресенье }})</a></button>
            {% elif weekday == 6 %}
                <button class="button2"><a href="/{{ Pon }}/" class="sp3_a">Понедельник ({{ Понедельник }})</a></button>
                <button class="button2"><a href="/{{ Vt }}/" class="sp3_a">Вторник ({{ Вторник }})</a></button>
                <button class="button2"><a href="/{{ Sr }}/" class="sp3_a">Среда ({{ Среда }})</a></button>
                <button class="button2"><a href="/{{ Cht }}/" class="sp3_a">Четверг ({{ Четверг }})</a></button>
                <button class="button2"><a href="/{{ Pyat }}/" class="sp3_a">Пятница ({{ Пятница }})</a></button>
                <button class="button_active"><a href="/{{ Sub }}/" class="sp3_a">Суббота ({{ Суббота }})</a></button>
                <button class="button2"><a href="/{{ Voskr }}/" class="sp3_a">Воскресенье ({{ Воскресенье }})</a></button>
            {% elif weekday == 7 %}
                <button class="button2"><a href="/{{ Pon }}/" class="sp3_a">Понедельник ({{ Понедельник }})</a></button>
                <button class="button2"><a href="/{{ Vt }}/" class="sp3_a">Вторник ({{ Вторник }})</a></button>
                <button class="button2"><a href="/{{ Sr }}/" class="sp3_a">Среда ({{ Среда }})</a></button>
                <button class="button2"><a href="/{{ Cht }}/" class="sp3_a">Четверг ({{ Четверг }})</a></button>
                <button class="button2"><a href="/{{ Pyat }}/" class="sp3_a">Пятница ({{ Пятница }})</a></button>
                <button class="button2"><a href="/{{ Sub }}/" class="sp3_a">Суббота ({{ Суббота }})</a></button>
                <button class="button_active"><a href="/{{ Voskr }}/" class="sp3_a">Воскресенье ({{ Воскресенье }})</a></button>

            {% endif %}
		</div>
        {% for session in sessions %}
            {% if session.film.image.url %}
                 <br>
			<div class="one">
				<img class="film_img" src="{{ session.film.image.url }}" alt="">
			</div>
			<div class="two">
                <div class="title_text"> {{ session.film.name }}</div>
				<p class="two_p_one">{{ session.film.secondname }}</p>
				<p class="two_p_two">Cеансы:<span class="time"> <a href="/film/{{ session.film.url_name }}/">расписание</a></span></p>
				<p class="two_p_three">
					{{ session.film.description }}
				<ul class="two_ul_two">
					<li class="two_li"><b>В прокате:</b> с {{ session.film.in_theatre|date:"d M" }}</li>
					<li class="two_li"><b>Формат:</b> {{ session.film.format }}</li>
					<li class="two_li"><b>Длительность:</b> {{ session.film.duration }}</li>
					<li class="two_li"><b>Жанр:</b> {% for genre in session.film.genre.all %} {{ genre }}, {% endfor %}</li>
					<li class="two_li"><b>Производство:</b> {{ session.film.year }}, {{ session.film.production }}</li>
					<li class="two_li"><b>Режисёр:</b> {{ session.film.director }}</li>
					<li class="two_li"><b>Актёры:</b> {{ session.film.actors }}</li>
				</ul>
			</div>
			<div class="three">
				<ul class="three_ul">
					<li class="three_li"><img src="{% static 'img/ico1.png' %}"><a href="/film/{{ session.film.url_name }}/"> Расписание сеансов и цены</a></li>
					<li class="three_li"><img src="{% static 'img/ico2.png' %}"><a href="/trailer/{{ session.film.url_name }}/"> Смотреть трейлер</a></li>
					<li class="three_li"><img src="{% static 'img/ico3.png' %}"><a href="/review/{{ session.film.url_name }}/"> Напишите отзыв о фильме</a></li>
				</ul>
			</div>
			<br>
            {% endif %}
        {% endfor %}
        {% if no_sessions %}
            <br>
            <img class="closed_img" src="{% static 'img/closed.png' %}">
            <div class="closed_text">
                Извините, но на данный день сеансы не запланированы.
                <br>
                Приходите позже, возможно добавятся новые интересные сеансы.
            </div>
    {% endif %}
	</div>

{% endblock %}