{% extends "base.html" %}
{% load static %}

{% block title %} {{ film.name }} | расписание {% endblock %}
{% block template %}
	<link rel="stylesheet" href="{% static 'session.css' %}">
{% endblock %}
{% block content %}
	<div class="body">
		<div class="one">
			<img src="{{ film.image.url }}" width="260" height="525">
		</div>
		<div class="two">
			<p class="two_p_five">Рассписание сеансов и цены</p>
			<h3>{{ film.name }}</h3>
			<p class="two_p_one">{{ film.secondname }}</p>
		<div class="two_ul2">
                {% for date,time in session_data.items %}

                    <p class="two_p2">{{ date }}</p>

                    {% for tim in time %}
                    <ul class="ul2">
                    {% if tim|length == 20 %}
                        <li> {{ tim }}</li>
                    {% elif tim|length > 9 and tim|length < 20 %}
                        <button class='zakaz_button' onclick="my_func('{{ tim }}')">Заказать билеты</button>
                        <br><br>
                    {% elif tim|length < 9 %}
                        Стоимость билета : {{ tim }} грн
                    {% endif %}
                    </ul>
                        {% endfor %}

            {% endfor %}
</div>
			<div class="three">
				<ul class="three_ul">
					<li class="three_li2"><img src="{% static 'img/ico1.png' %}">Расписание сеансов и цены</li>
					<li class="three_li2"><img src="{% static 'img/ico2.png' %}"><a href="/trailer/{{ film.url_name }}/"> Смотреть трейлер</a></li>
					<li class="three_li2"><img src="{% static 'img/ico3.png' %}"><a href="/review/{{ film.url_name }}/"> Напишите отзыв о фильме</a></li>
				</ul>
			</div>
			<br>
		</div>

<script type="text/javascript">
    function my_func(session_id){
        const my_url = '/buy/session/' + session_id;
        const buy_win = window.open(my_url, 'buy_window', 'width=1040, height = 730, menubar="no", toolbar="no", location="no" ');
        buy_win.moveTo(screen.width/2-520,screen.height/2-350);
}

</script>
	{% endblock %}
